@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">To-Do-List</h1>
    <div class="container p-3">

        <div class="row pt-4">
            <div class="col-12">
                <a asp-page="CreateList" class="float-end btn btn-primary">Add New List</a>
            </div>
        </div>

        @{
            foreach (var list in Model.User.UniversalList)
            {
                <table>
                    <thead>
                        <tr width="90%">
                            <th>@list.Name</th>
                        </tr>
                        <tr width="10%">
                            <th><a asp-page="CreateItem" asp-route-listId="@list.Id">Add new Item</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list.Items)
                        {
                            <tr>
                                <td width="20%">
                                    <input type="checkbox">
                                </td>
                                <td width="20%">
                                    @item.Name
                                </td>
                                <td width="20%">
                                    @item.Description
                                </td>
                                <td width="20%">
                                    @foreach (var user in item.Users)
                                    {
                                        <input type="checkbox" name="@user.UserName" value="@user.UserName">
                                        <label for="@user.UserName">@user.UserName</label>

                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>
